
@define-color bg-color             #282828;
@define-color bg-color-transparent rgba(40, 40, 40, 0.85);
@define-color bg-highlighted-color #1d2021;
@define-color gray                 #a89984;
@define-color red                  #cc241d;
@define-color green                #92971a;
@define-color yellow               #d79921;
@define-color blue                 #458588;
@define-color purple               #b16286;
@define-color aqua                 #689d6a;
@define-color orange               #d65d0e;
@define-color muted-gray           #928374;
@define-color muted-red            #fb4934;
@define-color muted-green          #b8bb26;
@define-color muted-yellow         #fabd2f;
@define-color muted-blue           #83a598;
@define-color muted-purple         #d3869b;
@define-color muted-aqua           #8ec07c;
@define-color muted-orange         #fe8019;
@define-color fg-color             #ebdbb2;

window#waybar.empty {
  background-color: @bg-color-transparent;
}

window#waybar {
  background-color: @bg-color;
}

window#waybar.kitty {
  background-color: @bg-color-transparent;
}

* {
  margin: 0;
  padding: 0;
  background: 0;
  color: @fg-color;
}

widget * {
  margin: 0 12px 0 0;
  padding: 0 8px;
}

#workspaces {
  margin-left: 16px;
}

#clock {
  margin-right: 16px;
}


#workspaces button {
  padding: 0;
}

#workspaces button.focused, #workspaces button:hover {
  border-radius: 0;
  background-color: @bg-highlighted-color;
  font-weight: 800;
}

