
@define-color bg-color             #282828;
@define-color bg-highlighted-color #1d2021;
@define-color gray                 #a89984;
@define-color red                  #cc241d;
@define-color green                #92971a;
@define-color yellow               #d79921;
@define-color blue                 #458588;
@define-color purple               #b16286;
@define-color aqua                 #689d6a;
@define-color orange               #d65d0e;
@define-color muted-gray           #928374;
@define-color muted-red            #fb4934;
@define-color muted-green          #b8bb26;
@define-color muted-yellow         #fabd2f;
@define-color muted-blue           #83a598;
@define-color muted-purple         #d3869b;
@define-color muted-aqua           #8ec07c;
@define-color muted-orange         #fe8019;
@define-color fg-color             #ebdbb2;

* {
  border: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: @fg-color;
  margin: 0;
  padding: 0;
}

#window {
  margin-right: 15px;
  margin-left: 15px;
}

window#waybar {
  background-color: @bg-color;
}

widget * {
  margin: 0 4px 0 0;
}

/* SECTION: Hanging modules */

#clock, #battery, #cpu, #memory, #temperature, #backlight,
#network, #pulseaudio, #custom-media, #tray, #mode, #mpd,
#idle_inhibitor {
  border-radius: 0 0 8px 8px;
  padding: 0 4px;
}

/* SECTION: Workspaces */

#workspaces {
  margin-left: 2px;
}

#workspaces button {
  padding: 0 4px;
  margin: 2px;
  margin-top: 4px;
  background-color: @gray;
  border-radius: 8px 8px 0 0;
  border: 0;
}

#workspaces button.focused, #workspaces button:hover {
  background-color: @muted-gray;
}

/* SECTION: Modules */

#mode {
  background-color: @gray;
}

#clock {
  background-color: @gray;
}

#cpu {
  background-color: @aqua;
}

#memory {
  background-color: @purple;
}

#backlight {
  background-color: @blue;
}

#network {
  background-color: @muted-blue;
}

#network.disconnected {
  background-color: @red;
}

#pulseaudio {
  background-color: @yellow;
}

#pulseaudio.muted {
  background-color: @muted-red;
}

#temperature {
  background-color: @muted-orange;
}

#temperature.critical {
  background-color: @red;
}

#mpd {
  background-color: @orange;
}

/* SECTION: Battery */

@keyframes blink {
  to {
    background-color: @ffffff;
  }
}


#battery {
  background-color: @green;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @fg-color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: @muted-green;
}


/* SECTION: Conditional formatting */

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #workspaces button,
window#waybar.kitty #workspaces button,
window#waybar.emacs #workspaces button {
  border-radius: 4px 4px 4px 4px;
}

window#waybar:not(.empty) {
  border-bottom: solid 2px @muted-gray;
}

window#waybar.emacs,
window#waybar.kitty {
  border-bottom: 0;
}

window#waybar.kitty {
  opacity: 0.85;
}

window#waybar.icecat {
  border-color: @muted-blue;
}

window#waybar.icecat #workspaces button.focused {
  background-color: @muted-blue;
}

window#waybar.emacs {
  background-color: @bg-color;
}


